<div id="printBtn" class="hideArea">
    
    <a class="btn btn-primary mx-2"
       onclick="Convert_HTML_To_PDF();">
        <i class="fas fa-file-pdf"></i> <span class="hide-md">Pdf</span>
    </a>
    <a class="btn btn-primary"
       onclick="htmlTableToExcel('xlsx')">
        <i class="fas fa-file-excel"></i> <span class="hide-md">Excel</span>
    </a>

    
</div>


